html {
    background-color: black;
}

h1 {
    color:white;
    display:flex;
    justify-content: center;
}

.rps-buttons {
    display:flex;
    justify-content:space-evenly;
    margin:20px;
}

img {
    width:400px;
    height:450px;
}


p {
    display:flex;
    justify-content:center;
    color:white;
}